<% if @admissions.errors.any? %>
        <h2> The following errors are: </h2>
        <ul>
            <% @admissions.errors.full_messages.each do |item| %>
                <li><%= item %> </li>
            <% end %>
        </ul>
    <%end%>

    <div class = 'row'>
        <div class = 'col-xs-12'>
            <%= form_for(@admissions, :html => {class: "form-horizontal", role: "form"}) do |a| %>
                <div class = "form-group">
                     <div class = "control-label col-sm-2">                
                        <%= a.label :name %> 
                    </div>                
                        <div class = "col-sm-8">
                            <%= a.text_field :name, class: "form-control", placeholder: "Name of the student" , autofocus: true %>
                        </div>
                    </div>
                
                    <div class = "form-group">
                        <div class = "control-label col-sm-2">   
                            <%= a.label :description %> 
                        </div>
                            <div class = "col-sm-8">
                            <%= a.text_area :description, rows: 10, class: "form-control",placeholder: "Description" %>
                        </div>

                        <div class = "form-group">
                            <div class = "col-sm-offset-2 col-sm-10">                        
                                <%= a.submit class: "btn btn-primary btn-lg" %>
                                    <% end%> 
                                        <div class = "col-xs-4 col-xs-offset-4">
                                           [ <%= link_to "back to admission", admissions_path %> ]
                                        </div>
                            </div>
                        
        </div>