<h1>Listing all Admissions</h1>
<%= link_to "create new admission", new_admission_path %> <br/><br/>
<table>
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
    </tr>
    <% @admissions.each do |admit|%>
    <tr>
        <td><%=admit.name %></td>
        <td><%=admit.description %></td>
        <td><%= link_to "edit", edit_admission_path(admit) %> </td>
        <td><%= link_to "delete", admission_path(admit), method: :delete, data: { confirm: 'Are you sure?' } %>
        <td><%= link_to "show", admission_path(admit) %>
    </tr>
    <%end %>
 </table>